@model ProyectoLenguajesNetCore.Models.CLIENTE

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CLIENTE</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NOMBRE" class="control-label"></label>
                <input asp-for="NOMBRE" class="form-control" />
                <span asp-validation-for="NOMBRE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="APELLIDO" class="control-label"></label>
                <input asp-for="APELLIDO" class="form-control" />
                <span asp-validation-for="APELLIDO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GENERO" class="control-label"></label>
                <input asp-for="GENERO" class="form-control" />
                <span asp-validation-for="GENERO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CORREO" class="control-label"></label>
                <input asp-for="CORREO" class="form-control" />
                <span asp-validation-for="CORREO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DIRECCION" class="control-label"></label>
                <input asp-for="DIRECCION" class="form-control" />
                <span asp-validation-for="DIRECCION" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TELEFONO" class="control-label"></label>
                <input asp-for="TELEFONO" class="form-control" />
                <span asp-validation-for="TELEFONO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
